/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* End of Reset Styles */

/* Common Styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light_pink: hsl(275, 100%, 97%);
  --grayish_purple: hsl(292, 16%, 49%);
  --dark_purple: hsl(292, 42%, 14%);
}

body {
  background-color: var(--light_pink);
  width: 100vw;
  height: 100vh;
  margin-bottom: 10rem;
}

/* End of Common Styles */

header.faq-header {
  width: 100%;
  height: 30vh;
  background: url(./images/background-pattern-mobile.svg) no-repeat center;
  background-size: 100% auto;
  background-position: center;
}

main.faq-main {
  width: 28rem;
  background-color: var(--white);
  margin: -6rem auto 0 auto;
  border-radius: 0.8rem;
  padding: 1.2rem;
}

.main-title {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.5rem;
}

.main-title svg {
  width: 2rem;
}

.main-title h2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(20%, 20%);
}

.main-title .heading {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-left: 2rem;
}


.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 0.6rem;
}

.question p,
.answer-p {
  color: var(--dark_purple);
}

.question p {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 900;
}

.question svg {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25%, -2%);
}

.answer {
  display: none;
}

.answer p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.show {
  display: block;
}

.underline {
  width: 100%;
  height: 0.1rem;
  background-color: var(--grayish_purple);
  margin-bottom: 2rem;
}

/* Responsive */

@media (min-width: 375px) and (max-width: 424px) {
   html {
    font-size: 73%;
   }
}

@media (min-width: 425px) and (max-width: 767px) {
  html {
    font-size: 83%;
   }

   .question svg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 10%);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 85%;
  }

  header.faq-header {
    height: 40vh;
  }

  main.faq-main {
    width: 40rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 87%;
  }

  header.faq-header {
    height: 40vh;
    background: url(./images/background-pattern-desktop.svg) no-repeat center;
    background-size: cover;
  }

  main.faq-main {
    width: 38rem;
  }
}

/* End of Responsive */
